<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- A simple bean definition -->
    <alias name="geoCodingFacade" alias="geoCodingFacade"/>
    <bean id="geoCodingFacade" class="com.taxitool.facade.GeoCodingFacade">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <alias name="geoCodingService" alias="geoCodingService"/>
    <bean id="geoCodingService" class="com.taxitool.service.GeoCodingService">
        <property name="geoCodingFacade" ref="geoCodingFacade"/>
        <property name="endpointService" ref="endpointService"/>
    </bean>

    <alias name="endpointService" alias="com.taxitool.endpoint.DefaultEndpointService"/>
    <bean name="endpointService" id="endpointService"/>


</beans>