<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:/resources/application.properties" />
    <!--Facades -->
    <alias name="geoCodingFacade" alias="geoCodingFacade"/>
    <bean id="geoCodingFacade" class="com.taxitool.facade.GeoCodingFacade">
    </bean>
    <alias name="lightFacade" alias="lightFacade"/>
    <bean id="lightFacade" class="com.taxitool.facade.LightFacade">
    </bean>


    <!-- Services -->
    <alias alias="endpointService" name="endpointService"/>
    <bean id="endpointService" class="com.taxitool.endpoint.DefaultEndpointService"/>

    <alias name="geoCodingService" alias="geoCodingService"/>
    <bean id="geoCodingService" class="com.taxitool.service.GeoCodingService">
        <property name="geoCodingFacade" ref="geoCodingFacade"/>
        <property name="endpointService" ref="endpointService"/>
    </bean>

    <alias name="routingService" alias="routingService"/>
    <bean id="routingService" class="com.taxitool.service.RoutingService">
        <!--<property name="routingFacade" ref="routingFacade"/>-->
        <property name="endpointService" ref="endpointService"/>
    </bean>

    <alias name="lightService" alias="lightService"/>
    <bean id="lightService" class="com.taxitool.service.LightService">
        <property name="lightFacade" ref="lightFacade"/>
    </bean>

    <alias name="taxiService" alias="taxiService"/>
    <bean id="taxiService" class="com.taxitool.service.TaxiService">
        <property name="geoCodingService" ref="geoCodingService"/>
        <property name="routingService" ref="routingService"/>
    </bean>

    <alias name="databaseService" alias="databaseService"/>
    <bean id="databaseService" class="com.taxitool.service.DatabaseService"/>


</beans>