<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:/resources/application.properties" />
    <!--Facades -->
    <alias name="geoCodingFacade" alias="geoCodingFacade"/>
    <bean id="geoCodingFacade" class="com.taxitool.facade.GeoCodingFacade">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <alias alias="endpointService" name="endpointService"/>
    <bean id="endpointService" class="com.taxitool.endpoint.DefaultEndpointService"/>

    <!-- Services -->
    <alias name="geoCodingService" alias="geoCodingService"/>
    <bean id="geoCodingService" class="com.taxitool.service.GeoCodingService">
        <property name="geoCodingFacade" ref="geoCodingFacade"/>
        <property name="endpointService" ref="endpointService"/>
    </bean>

</beans>